@font-face {
  font-family: "BebasNeue";
  src: url("../../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "BebasNeue", sans-serif;
}

h1 {
  font-family: "BlinkerBold", sans-serif;
}

p {
  font-family: "BlinkerRegular", sans-serif;
}
