@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;

  .smallLogo {
    width: 5rem;
  }

  .logo {
    width: 8rem;
    height: auto;
  }

  .menu-icon {
    width: 3rem;
    cursor: pointer;

    &:hover {
      background: rgba(209, 122, 122, 0.4);
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    background: rgba(30, 30, 30, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    z-index: 10;
    gap: 1rem;
  }

  .dropdown-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    background: transparent;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
    padding: 0.3rem;

    &:hover {
      background: rgba(131, 37, 37, 0.3);
      border-color: rgb(131, 37, 37);
    }
  }
}
